In [2]:
import json
temp = json.load(open("../data/temp.json"))

In [3]:
temp.keys()

dict_keys(['full_count', 'version', '3086fd95', '308703a0', '30868496', '3086f259', '3086b6cc', '3086fb15', '3087083e', '30867ae3', '308682db', '3086e335', '308708ea', '3086e97a', '30871015', '30866b29', '3086ef0b', '3086893a', '3086f89f', '30862e25', '3086ac0f', '3086b1d4', '3086e38b', '3086fa80', '3087000f', '3086e2e9', '3086d644', '3086c82b', '3086c774', '3086d700', '30870bbb', '3086a426', '3086dc8f', '3086e05b', '3086f34c', '3086dcf7', '30870a14', '3086284c', '308697ff', '3086e010', '3086fbdb', '3086e284', '3086fd6b', '3086f7ed', '3086ed91', '3086fb92', '30870f67', '30865be4', '3086be9e', '3086e3e8', '30870dd1', '3086fdfe', '3086fb8c', '30870509', '3086be4c', '3086f31f', '3086d7fb', '3085819e', '3086d4dc', '3086d5f4', '3086d792', '308693a3', '3086fd88', '30863961', '3086cdd7', '3086c7b3', '30861318', '3086d039', '3086d88a', '3086ceda', '3086da1c', '3086bd35', '3086de82', '30866154', '3086e0ea', '3086e719', '3086db8d', '3086cc70', '30870bf5', '30869836', '3086e6ef', '3086e003', '308686d5', '3086da7d', '3086f63a', '308704da', '308683ef', '3086d187', '3087100b', '3086c386', '3086c45f', '30870458', '30870add', '3086e39d', '3086f0c8', '3086da2e', '3086ba69', '3086f406', '3086c57b', '30868088', '308708e6', '308702d7', '30870d51', '3086d2d8', '30867640', '3086edb6', '308697c2', '30868763', '30870de0', '30864079', '30868ae6', '30870294', '3086f777', '30870da6', '30866297', '3086ba60', '30870023', '30868d65', '3086fa04', '3086a970', '308702f2', '3086cb54', '308701aa', '30870229', '3086ef65', '30870cbd', '3087039e', '308709ad', '3086b5c3', '3086e680', '308707b5', '30870ef5', '30870f9f', '30860796', '3086da6b', '308655b0', '30862c81', '308708fb', '3086bacf', '3086de7a', '3086fd67', '3086ed30', '3086f669', '3086f7b8', '30870c00', '3086fdbc', '308688a2', '3086bec2', '308625df', '3086667c', '30870169', '30870130', '30867f56', '3086c50e', '3086d0c5', '3086be57', '30870551', '30866615', '3086cc1e', '30870008', '3086990e', '3086e9d0', '3086ef90', '30865db1', '3086f4db', '3087020d', '3086bf19', '3086ddf3', '3086f1e1', '3086ceeb', '3086c3ad', '3086ff15', '3086ecaa', '3086ecf3', '3086f99f', '3086f30c', '3086c4b3', '3086fa53', '3086e089', '3086f6a2', '3086d75f', '308695ae', '30870217', '3086f804', '3086c9f8', '3086ac62', '3086befa', '30869643', '3086fd59', '3086d9fa', '308679f6', '3086f775', '3086bc4d', '30870799', '3086ee27', '3086f720', '308706a2', '3086f927', '3087096d', '308702f8', '30870944', '3086e95c', '3086ba18', '30852b05', '308706b0', '3086ca21', '3086f505', '3087029d', '308701ad', '30870a8b', '30863ff5', '3086d317', '30870f35', '30870395', '30868a81', '3086c182', '3086b9ca', '30863b9f', '30864a97', '3086f851', '3086d67e', '3086970d', '30863a1f', '3086eea5', '30870026', '3086ec3d', '3086f9f7', '308708a1', '30870389', '3086f337', '308629fb', '3086ed3c', '3086fa4d', '3086eabf', '30868bfe', '3086ec52', 'stats'])

In [4]:
temp['full_count']

12039

In [5]:
temp['stats']

{'total': {'ads-b': 10849,
  'mlat': 231,
  'faa': 125,
  'flarm': 18,
  'estimated': 438,
  'satellite': 339,
  'uat': 2,
  'other': 0},
 'visible': {'ads-b': 223,
  'mlat': 4,
  'faa': 6,
  'flarm': 0,
  'estimated': 0,
  'satellite': 1,
  'uat': 0,
  'other': 0}}

In [8]:
import pandas as pd
ignore_keys = {"full_count", "version", "stats"}
temp = {key: temp[key] for key in temp.keys() if key not in ignore_keys}
df = pd.DataFrame(temp).T.reset_index(drop = False)
df.head()

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,3086fd95,AD9302,40.821,-77.826,88,35000,466,,F-KMJX1,B752,N974FD,1685593243,LCK,EWR,FX1938,0,0,FDX1938,0,FDX
1,308703a0,C06A78,43.373,-77.81,100,23800,442,,F-KART1,A21N,C-GOIH,1685593243,YYZ,OPO,TS764,0,768,TSC764,0,TSC
2,30868496,A46E6A,38.649,-77.758,85,18750,376,,F-KHEF2,A20N,N385FR,1685593243,PHX,BWI,F93790,0,-832,FFT3790,0,FFT
3,3086f259,A40AF6,36.326,-77.752,210,40025,428,,T-MLAT2,LJ36,N36LJ,1685593240,BED,TPA,,0,64,LN36LJ,0,
4,3086b6cc,AD3CDF,35.469,-77.74,216,32025,441,,F-KRIC5,A321,N952JB,1685593242,JFK,SJU,B6403,0,0,JBU403,0,JBU

In [9]:
df.shape

(234, 20)

In [10]:
temp1 = json.load(open("../data/2023-05-01-235955Z.json"))
temp1.keys()

dict_keys(['now', 'messages', 'aircraft'])

In [11]:
temp1['now']

1682985594.878

In [12]:
temp1['messages']

1506409976

In [14]:
pd.DataFrame(temp1['aircraft'])

,hex,type,flight,r,t,alt_baro,gs,track,baro_rate,lat,...,roll,wd,ws,nav_altitude_fms,gpsOkBefore,gpsOkLat,gpsOkLon,rr_lat,rr_lon,lastPosition
0,c01074,adsc,AC7,C-FGFZ,B789,33996,451.0,252.67,0.0,57.233105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a254f7,adsc,UA893,N24980,B789,34000,462.0,260.11,-48.0,57.492313,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ac17e6,adsc,AA27,N879BH,B788,40000,459.0,252.00,16.0,57.531967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71c387,adsc,YP102,HL8387,B789,36000,459.0,265.38,-16.0,57.663288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a2a3b5,adsc,UA79,N26966,B789,38000,488.0,286.49,64.0,61.864357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10611,861b20,adsb_icao,NaN,JA603A,B763,ground,12.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'lat': 35.779907, 'lon': 140.396347, 'nic': 8..."
10612,ae0d0b,adsb_icao_nt,NaN,85-24748,H60,50125,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'lat': 34.808573, 'lon': -80.502089, 'nic': 0..."
10613,7805dc,mode_s,NaN,B-2076,B77L,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.5,116.0,"{'lat': 32.563477, 'lon': 120.311444, 'nic': 8..."
10614,ac7a61,adsb_icao,NaN,N903AR,B744,28000,478.2,342.47,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'lat': -32.934357, 'lon': -58.565863, 'nic': ..."
10615,~334346,tisb_other,NaN,NaN,NaN,ground,14.3,192.09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'lat': 44.880454, 'lon': -93.212329, 'nic': 8..."

In [1]:
import datetime
import time

date_time = datetime.datetime(2023, 5, 1)
unix_time = time.mktime(date_time.timetuple())
print(unix_time)

1682913600.0

In [2]:
num_days = 1
num_2hr_windows = 24 * num_days // 2
time_windows = [(unix_time + i*7200, unix_time + (i+1)*7200 - 1) for i in range(num_2hr_windows)]

for i, (start_window, end_window) in enumerate(time_windows):
    print(start_window, end_window)

1682913600.0 1682920799.0
1682920800.0 1682927999.0
1682928000.0 1682935199.0
1682935200.0 1682942399.0
1682942400.0 1682949599.0
1682949600.0 1682956799.0
1682956800.0 1682963999.0
1682964000.0 1682971199.0
1682971200.0 1682978399.0
1682978400.0 1682985599.0
1682985600.0 1682992799.0
1682992800.0 1682999999.0

In [3]:
import os
os.chdir("../../opensky-api-master/python/")

from opensky_api import OpenSkyApi

api = OpenSkyApi(username = "SNaveenMathew", password = "Ganga308!")

In [19]:
import pickle
os.chdir("../../FlightPathAnalysis/01-Downloaders/")
def query_api_till_result(start_window, end_window, timeout = 15, attempts = 0):
    x = None
    while type(x) != list:
        attempts += 1
        print(attempts)
        try:
            x = api.get_flights_from_interval(begin = start_window, end = end_window, timeout = timeout)
        except:
            x = query_api_till_result(start_window, end_window, timeout, attempts)
        
        time.sleep(8)
    
    return x

for i, (start_window, end_window) in enumerate(time_windows):
    print(i, start_window, end_window, datetime.datetime.now())
    x = query_api_till_result(int(start_window), int(end_window), timeout = 15)
    pickle.dump(x, open("../data/" + str(int(start_window)) + "_" + str(int(end_window)) + ".pkl", "wb"))

0 1682913600.0 1682920799.0 2023-06-03 12:50:06.994926
1
1 1682920800.0 1682927999.0 2023-06-03 12:50:21.392934
1
2 1682928000.0 1682935199.0 2023-06-03 12:50:32.587996
1
3 1682935200.0 1682942399.0 2023-06-03 12:50:43.305446
1
4 1682942400.0 1682949599.0 2023-06-03 12:50:54.571911
1
5 1682949600.0 1682956799.0 2023-06-03 12:51:06.596441
1
6 1682956800.0 1682963999.0 2023-06-03 12:51:16.915259
1
7 1682964000.0 1682971199.0 2023-06-03 12:51:27.600004
1
8 1682971200.0 1682978399.0 2023-06-03 12:51:38.950384
1
9 1682978400.0 1682985599.0 2023-06-03 12:51:49.058159
1
10 1682985600.0 1682992799.0 2023-06-03 12:52:00.636686
1
11 1682992800.0 1682999999.0 2023-06-03 12:52:13.860854
1

In [23]:
track = api.get_track_by_aircraft(x[3].__dict__['icao24'])
print(track)

{   'callsign': 'IGO1275 ',
    'endTime': 1685822949.0,
    'icao24': '800d6c',
    'path': [   [1685820167, 12.9809, 80.1436, 304, 250, False],
                [1685820175, 12.9788, 80.1377, 304, 249, False],
                [1685820189, 12.9749, 80.126, 304, 253, False],
                [1685820197, 12.9733, 80.1188, 304, 259, False],
                [1685820205, 12.9726, 80.111, 609, 265, False],
                [1685820214, 12.9729, 80.1011, 609, 274, False],
                [1685820222, 12.9744, 80.0918, 609, 280, False],
                [1685820232, 12.9771, 80.0808, 609, 285, False],
                [1685820241, 12.9808, 80.0699, 914, 289, False],
                [1685820247, 12.9834, 80.0628, 914, 290, False],
                [1685820259, 12.9886, 80.0495, 914, 291, False],
                [1685820275, 12.9961, 80.0306, 1219, 291, False],
                [1685820299, 13.0071, 80.0014, 1524, 290, False],
                [1685820319, 13.016, 79.9765, 1828, 289, False],
                [1685820341, 13.0251, 79.95, 2133, 289, False],
                [1685820394, 13.0502, 79.8771, 2438, 289, False],
                [1685820437, 13.0736, 79.8093, 3048, 288, False],
                [1685820447, 13.0786, 79.792, 3048, 284, False],
                [1685820447, 13.0786, 79.792, 3048, 283, False],
                [1685820480, 13.0923, 79.7362, 3352, 284, False],
                [1685820500, 13.1008, 79.7024, 3657, 284, False],
                [1685820517, 13.1084, 79.6717, 3962, 284, False],
                [1685820548, 13.1217, 79.618, 4267, 284, False],
                [1685820576, 13.134, 79.5685, 4572, 284, False],
                [1685820604, 13.1462, 79.5194, 4876, 284, False],
                [1685820624, 13.1554, 79.4818, 5181, 284, False],
                [1685820659, 13.1709, 79.4189, 5486, 284, False],
                [1685820698, 13.1888, 79.3464, 5791, 284, False],
                [1685820727, 13.2024, 79.2908, 6096, 284, False],
                [1685820783, 13.2287, 79.1852, 6400, 284, False],
                [1685820819, 13.2464, 79.1132, 6705, 284, False],
                [1685820867, 13.2694, 79.0197, 7010, 284, False],
                [1685820897, 13.2846, 78.9582, 7315, 284, False],
                [1685820912, 13.2922, 78.9292, 7315, 287, False],
                [1685820919, 13.2974, 78.9155, 7620, 292, False],
                [1685820926, 13.304, 78.9021, 7620, 298, False],
                [1685820934, 13.313, 78.8876, 7620, 303, False],
                [1685820964, 13.3467, 78.8354, 7620, 302, False],
                [1685821016, 13.4067, 78.7394, 7924, 302, False],
                [1685821061, 13.458, 78.6575, 8229, 302, False],
                [1685821121, 13.5275, 78.5462, 8534, 302, False],
                [1685821176, 13.5915, 78.4438, 8839, 302, False],
                [1685821221, 13.6457, 78.3569, 9144, 302, False],
                [1685821252, 13.6825, 78.2982, 9448, 302, False],
                [1685821292, 13.7269, 78.2269, 9753, 302, False],
                [1685821364, 13.8087, 78.0955, 10058, 302, False],
                [1685821528, 13.996, 77.7955, 10363, 303, False],
                [1685821597, 14.0768, 77.6706, 10668, 303, False],
                [1685821651, 14.1387, 77.5741, 10972, 303, False],
                [1685821730, 14.2293, 77.4327, 11277, 303, False],
                [1685821905, 14.4311, 77.1166, 11582, 303, False],
                [1685822010, 14.5514, 76.9279, 11277, 303, False],
                [1685822500, 15.1101, 76.045, 11582, 303, False],
                [1685822529, 15.1424, 75.9929, 11277, 300, False],
                [1685822535, 15.1488, 75.9807, 11277, 298, False],
                [1685822643, 15.2546, 75.7786, 11277, 298, False],
                [1685822856, 15.4617, 75.3824, 11582, 298, False],
                [1685822927, 15.5307, 75.2498, 11277, 298, False],
                [1685822949, 15.5516, 75.2096, 11582, 298, False]],
    'startTime': 1685820167.0}

In [17]:
os.getcwd()

'/home/naveen/Desktop/Code/opensky-api-master/python'

In [18]:
from types import NoneType
type(x) == NoneType

True